//CTA page SCSS
@import '../abstract/variables';
@import '../components/media-queries';

#call-to-action {
  position: relative;
  height: 1105px;
  z-index: 1;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  .call-to-action-image {
    @include desktop {
      display: none;
    }
  }
  .famous-projects-title-description-and-apply-now-button {
    .call-to-action-title-and-description {
      .call-to-action-title {

      }
      .call-to-action-description {

      }
    }
    .apply-now {
      .apply-now-button {

      }
    }
  }
}

