//Famous Projects page SCSS
@import "../abstract/variables";
@import "../components/media-queries";

#famous-projects {
  height: 3484px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  .famous-projects-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .logo-famous-projects {
      display: none;
    }
    .famous-projects-title-description-and-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      width: 311px;
      height: 238px;
      .famous-projects-title-and-description {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        width: 255px;
        height: 138px;
        .famous-projects-title {
          display: flex;
          justify-content: space-between;

          width: 161px;
          height: 18px;

          color: $blue-button;

          font-family: $alternate-font;
          font-size: 14px;
          font-weight: 600;
          line-height: 18px;
        }
        .famous-projects-description {
          width: 255px;
          height: 96px;

          color: $color-heading;

          font-size: 40px;
          font-weight: 700;
          line-height: 48px;

          letter-spacing: -0.4px;
        }
      }
      .famous-projects-info {
        width: 311px;
        height: 84px;

        color: $color-text;

        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
      }
    }
  }

  .bento-illustrations {
    border: 1px solid red;

    height: 3047.56px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    .bento-containers-standard-config {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      width: 312.11px;
      height: 583.56px;

      .bento-3d-one {
        display: flex;
        flex-direction: column;
        width: 100%;

        img {
          max-width: 100%;
        }

        .girl-on-phone {
          display: flex;
          flex-direction: column;

          z-index: 0;

          .girl-background {
            position: absolute;
            z-index: -1;
          }
          .featured-product-pop-up {
            position: absolute;
            margin-left: 23.89px;
            margin-top: 303px;

            z-index: 0;
          }
        }
      }

      .bento-3d-two {
        display: flex;
        flex-direction: column;
        width: 100%;

        img {
          max-width: 100%;
        }

        .webpage-purple {
          display: flex;
          flex-direction: column;

          z-index: 1;
        }
        .purple-background {
          position: absolute;
          z-index: 0;
        }
      }

      .bento-3d-three {
        display: flex;
        flex-direction: column;
        width: 100%;

        img {
          max-width: 100%;
        }

        .webpage-orange {
          display: flex;
          flex-direction: column;

          z-index: 1;
        }
        .orange-background {
          position: absolute;
          z-index: 0;
        }
      }

      .bento-3d-four {
        display: flex;
        flex-direction: column;
        width: 100%;

        img {
          max-width: 100%;
        }

        .music-board {
          display: flex;
          flex-direction: column;

          z-index: 1;
        }
        .blue-background {
          position: absolute;
          z-index: 0;
        }
      }

      .bento-3d-five {
        display: flex;
        flex-direction: column;
        width: 100%;

        img {
          max-width: 100%;
        }

        .man-in-computer {
          display: flex;
          flex-direction: column;

          z-index: 1;
        }
        .man-background {
          position: absolute;
          z-index: 0;
        }
      }

      .bento-3d-titles-descriptions-and-arrow-right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        height: 204px;

        .bento-3d-titles-and-descriptions {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          width: 312px;
          height: 132px;

          h6 {
            color: $color-heading;

            font-size: 24px;
            font-weight: 700;

            line-height: 32px;
            letter-spacing: -0.2px;
          }

          p {
            color: $color-text;

            font-size: 16px;
            font-weight: 400;

            line-height: 28px;
          }
        }
        .bento-arrows {
          width: 48px;
          height: 48px;
        }
      }
    }
  }
  .famous-projects-contact-us {
    .famous-projects-contact-us-button {
      width: 313px;
      height: 46px;

      cursor: pointer;

      border-radius: 8px;
      border: 0px;

      font-size: 16px;
      font-weight: 600;
      line-height: 22px;

      color: white;
      background-color: $blue-button;

      &:hover {
        color: $blue-button;
        background-color: white;

        border: 1px solid $blue-button;
        transition: 0.1s;
      }
    }
  }
}
