//Navbar SCSS
@import '../abstract/variables';
@import '../components/_media-queries';

#hero-navbar-container { // inclui a Navbar completa (3 itens: Logo, ul e botão Contact Us)

  width: 375px;
  height: 128px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  .hero-image-mobile {
    @include desktop {
      display: none;
    }
    @include mobile {
      position: absolute;
      margin-top: 348px;
      width: 375px;
      height: 812px;
      z-index: 1;
    }
  }
  }

  .hero-header {
    width: 311px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .full-logo-image {
      width: 127.2px;
      height: 32px;
      .full-logo {
      width: 127.2px;
      height: 32px;
      }
    }
    .navbar-container {
      display: none;
    }
    .contact-us-button {
      display: none;
    }
    .burger-icon-image {
      width: 32px;
      height: 12px;
    }
  }
