@import '../abstract/variables';
@import '../components/media-queries';

#who-we-are-page {
  background: $color-heading;
  height: 1681px;
  padding-top: 64px;
  
  .who-we-are-header {    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    width: 310px;
    height: 314px;
    margin-left: 33px;
    .who-we-are-title-and-description {
      width: 226px;
      height: 234px;
      
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      
      .who-we-are-title {        
        display: flex;
        justify-content: space-between;
        
        font-family: 'SF Pro Text';
        font-size: 14px;
        font-weight: 600;
        line-height: 18px;
        
        width: 129px;
        height: 18px;
        .logo-who-we-are {
          @include mobile {
            display: none;
          }
        }
        p {
          color: $deactive-text;
        }
        h5 {
          color: #FFFFFF;
        }
      }
      .who-we-are-description {
        
        color: #FFFFFF;
        
        width: 230px;
        height: 192px;
        .we-make-designs-text {
          font-weight: 700;
          font-size: 40px;
          line-height: 48px;
          letter-spacing: -0.4px;
        }
      }
    }
      .arrow-and-dropdown {

        display: flex;
        align-items: center;
        justify-content: space-between;

        .who-we-are-arrows { 
          @include mobile {
            height: 48px;
          }
          @include desktop {
            height: 64px;
          }
        }
        .dropdown {
          width: 144px;
          height: 48px;
          @include desktop {
            display: none;
          }
        }
      }
    
  }
  
  
  .who-we-are-background-images {
    .who-we-are-image {      
      margin-top: 56px;
      width: 375px;
      height: 424px;
    }
  }
  .who-we-are-information {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    margin-top: 56px;
    margin-left: 32px;

    width: 311px;
    height: 336px;

    h6 {
      height: 96px;
      
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: -0.2px;
      
      color: white;
    }
    p {
      width: 311px;
      height: 112px;
      
      font-size: 16px;
      font-weight: 400;
      line-height: 28px;
      
      color: $grey-text;
    }
    button {
      width: 160px;
      height: 56px;
      
      font-size: 16px;
      
      color: white;
      background: $blue-button;
      
      border: 0px;
      border-radius: 8px;
      &:hover {
        color: $blue-button;
        background-color: white;
        
        border: 1px solid $blue-button;
        transition: 0.1s;
      }
    }
  }
  .biggest-branding-items {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    
    margin-top: 56.5px;
    margin-left: 33px;
    
    width: 310px;
    height: 310px;

    border-radius: 50%;
    
    box-shadow: 10px 10px 40px black;
    
    .biggest-branding {
      color: white;
      font-weight: 600;
      height: 177px;
      h1 {
        font-size: 140px;
      }
      
      h6 {
        font-size: 18px;
      }
    }
  }
}