//Who We Are SCSS
@import '../abstract/variables';
@import '../components/media-queries';

#who-we-are-page {
  background: $color-heading;
  width: 100%;
  height: 1681px;
  margin-top: 392px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  
  .who-we-are-header {
    border: 1px solid red;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    width: 82.6%;
    height: 18.67%;
    .who-we-are-title-and-description {
      border: 1px solid red;

      width: 72.9%;
      height: 74.5%;
      
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      
      .who-we-are-title {        
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        border: 1px solid red;
        
        font-family: $alternate-font;
        font-size: 14px;
        font-weight: 600;
        line-height: 18px;
        
        width: 57.07%;
        height: 7.69%;
        .logo-who-we-are {
          @include mobile {
            display: none;
          }
        }
        p {
          color: $deactive-text;
        }
        h5 {
          color: #FFFFFF;
        }
      }
      .who-we-are-description {
        color: #FFFFFF;
        border: 1px solid red;
        
        width: 100%;
        height: 82.05%;
        .we-make-designs-text {
          font-weight: 700;
          font-size: 40px;
          line-height: 48px;
          letter-spacing: -0.4px;
        }
      }
    }
      .arrow-and-dropdown {
        border: 1px solid red;

        display: flex;
        justify-content: space-between;

        width: 100%;

        .who-we-are-arrows {          
          @include mobile {
            width: 36.12%;
            height: 100%;
          }
          @include desktop {
          }
        }
        .dropdown {
          width: 46.45%;
          height: 100%;
          @include desktop {
            display: none;
          }
        }
      }
    
  }
  
  
  .who-we-are-background-images {
    .who-we-are-image {      
      margin-top: 56px;
      width: 100%;
      height: 424px;
    }
  }
  .who-we-are-information {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    width: 311px;
    height: 336px;
    .who-we-are-h6-and-p {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      
      height: 248px;
      h6 {
        height: 96px;
        
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.2px;
        
        color: white;
      }
      p {
        width: 311px;
        height: 112px;
        
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        
        color: $grey-text;
      }
    }
    button {
      width: 160px;
      height: 56px;
      
      font-size: 16px;
      
      color: white;
      background: $blue-button;
      
      border: 0px;
      border-radius: 8px;
      &:hover {
        color: $blue-button;
        background-color: white;
        
        border: 1px solid $blue-button;
        transition: 0.1s;
      }
    }

  }
  .biggest-branding-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    
    width: 310px;
    height: 310px;

    border-radius: 50%;
    
    box-shadow: 10px 10px 40px black;
    
    .biggest-branding {

      display: flex;
      flex-direction: column;
      
      text-align: center;

      color: white;
      font-weight: 600;
      height: 177px;
      h1 {
        font-size: 140px;
      }
      
      h6 {
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
      }
    }
  }
}