@import '../abstract/variables';
@import '../components/_media-queries';

html, body {
  width: 1440px;
  overflow-x: hidden;

  background: #FFFFFF;
  font-family: $standard-font;
  @include tablet {
    overflow-x: hidden;
    width: 1025px;
  }
  @include mobile {
    width: 376px;
  }
}

body {
  position: relative;
}