@import '../abstract/variables';
@import '../components/_media-queries';

html, body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: $standard-background;
  font-family: $standard-font;
}