// Colors
$color-heading: #232340;
$color-text: #606060;
$blue-button: #5468E7;
$grey-text: #8B8B8B;
$deactive-text: #ADADAD;
$line-background: #9A97ED;

// Fonts
$standard-font: 'SF Pro Display', sans-serif;
$alternate-font: 'SF Pro Text', sans-serif;